@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #09001B;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #09001B inset !important;
    -webkit-text-fill-color: #fff;
    
}